<header class="site-header" role="banner">
  <div class="container">
    <div class="row">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}

      <div class="collapse" id="navbarToggleExternalContent">
        <div class="navbar">
          {% for path in page_paths %}
          {% assign my_page = site.pages | where: "path", path | first %}
          {% if my_page.nav-name %}
          <a class="nav h1" href="{{ my_page.url | relative_url }}">{{ my_page.nav-name | escape }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <a class="" href="/">
        <img class="main-logo" src="/img/logo.svg" alt="Institut Québécois de Médecine Fonctionnelle">
      </a>
    </div>
  </div>
</header>
