<header class="navbar navbar-light">
    <div class="row">
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}


    </div>

      <nav>
        <a class="navbar-brand" href="/">
        <img class="main-logo hidden-sm-down" src="/img/logo.svg" alt="Institut Québécois de Médecine Fonctionnelle">
          <img class="main-logo hidden-md-up" src="/img/logo-mobile.svg" alt="Institut Québécois de Médecine Fonctionnelle">
        </a>

      </nav>

</header>
